
@using EntityLayer.Concrete;
@model List<Writer>
@{
    ViewBag.Title = "GetWriterList";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Writer List</h2>
<table class="table table-hover">
    <tr>
        <td>Writer ID</td>
        <td>Writer Name</td>
        <td>Writer Surname</td>
        <td>Writer Mail</td>
        <td>Writer Password</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.WriterId</td>
            <td>@item.WriterName</td>
            <td>@item.WriterSurname</td>
            <td>@item.WriterMail</td>
            <td>@item.Password</td>
            
        </tr>
    }
</table>
<a href="/Writer/AddWriter" class="btn btn-info">New Writer</a>